[submodule "vendor/lofn"]
	path = vendor/lofn
	url = https://github.com/lokedhs/lofn
[submodule "vendor/cl-solr"]
	path = vendor/cl-solr
	url = git://github.com/lokedhs/cl-solr
[submodule "vendor/containers"]
	path = vendor/containers
	url = git://github.com/lokedhs/containers
[submodule "vendor/cl-markup"]
	path = vendor/cl-markup
	url = https://github.com/lokedhs/cl-markup
[submodule "vendor/clouchdb-patch"]
	path = vendor/clouchdb-patch
	url = https://github.com/lokedhs/clouchdb-patch
[submodule "vendor/cl-rabbit"]
	path = vendor/cl-rabbit
	url = https://github.com/lokedhs/cl-rabbit
[submodule "vendor/cl-rabbit-async"]
	path = vendor/cl-rabbit-async
	url = https://github.com/lokedhs/cl-rabbit-async
