;;; -*- lisp -*-
;; TODO missing: s3_directory: 'staging'

((:db-host . "{{ commons.db_hostname }}")               ; CouchDB hostname
 (:db-port . {{ commons.db_port }})                      ; CouchDB port number
 (:db-name . "{{ commons.db_name }}")                  ; CouchDB database name

 ;; SMTP server used to send automated emails
 (:smtp-host . "{{ commons.smtp_server_host }}")
 ;; Port number for the SMTP server
 (:smtp-port . {{ commons.smtp_server_port }})
 ;; If specified, this parameter indicates that authentication should
 ;; be used for the SMTP connection
 (:smtp-username . "{{ smtp_username }}")
 ;; The password to use for SMTO authentication
 (:smtp-password . "{{ smtp_password }}")
 ;; Type of encryption for SMTP connections. Valid values are: nil, :tls, :starttls
 (:smtp-ssl . :starttls)
 ;; The sender name to use for emails
 (:mail-sender . "{{ potato_sender_address }}")

 ;; The name of the server as seen from a client. This is the domain
 ;; name the user would be typing into the browser address bar. This
 ;; value, together with :external-listen-port is used to form
 ;; URL's that should point to some application fuction.
 (:external-listen-address . "http://{{ external_listen_address }}")
 (:external-websocket-listen-address . "ws://{{ external_listen_address }}/ws")
 ;; The location of the Solr instance
 (:solr-path . "http://localhost:8983/solr/potato")

 ;; RabbitMQ hostname
 (:rabbitmq-host . "localhost")
 ;; RabbitMQ port number
 (:rabbitmq-port . 5672)
 ;; RabbitMQ user
 (:rabbitmq-user . "guest")
 ;; RabbitMQ password
 (:rabbitmq-password . "guest")

 ;; Local file uploads. If S3 is not used, then files are stored
 ;; locally on the server. The below option specifies the root of the
 ;; file hierarchy where the uploaded files are stored. The files are
 ;; stored in a tree in the form: domain/channel/file
 (:upload-path . "/var/lib/potato_files")

 ;; If S3 and local file uploads are configured at the same time, the
 ;; following option chooses which type should be used when uploading
 ;; files. Valid options are :S3 or :FILE.
 (:default-upload-mode . :file)
 
 ;; S3 configuration
 (:s3-bucket . "{{ s3_bucket }}")
 (:s3-directory . "{{ s3_directory }}")
 (:s3-secret-key . "{{ s3_secret_key }}")
 (:s3-access-key . "{{ s3_access_key }}")
 (:s3-browser-secret-key . "{{ s3_browser_secret_key }}")
 (:s3-browser-access-key . "{{ s3_browser_access_key }}")
 (:s3-endpoint . "{{ s3_endpoint }}")
 (:youtube-key . "{{ youtube_key }}")

 (:imagemagick-convert-program . "/usr/bin/convert")
 (:max-message-size . 10000)

{% if sso_keytab  is defined %}
 ;; Module test
;; (:modules (potato.sso:sso-init :parameters ((:keytab-file . "/potato/shared/{{ sso_keytab}}")
;;                                             (:ldap-hostname . "hostname")
;;                                             (:ldap-base . "dc=domain,dc=com")
;;                                             (:ldap-port . 3268)
;;                                             (:ldap-user . "useraccount")
;;                                             (:ldap-password . "password"))))

{% endif %}

)
