[Unit]
Description=The Potato - {{  item.value.description}}

[Service]
Type=simple
User=potato
WorkingDirectory={{ commons.application_path }}
PIDFile=/potato/{{  item.value.system_name }}.pid
{% if item.value.websocket_listen_port is defined %}
ExecStart={{ commons.application_path }}/potato.bin --config /potato/shared/potato.cfg --{{ item.value.service }} --service-name {{ item.value.system_name }} --swank-port {{ item.value.swank_port }} --http-port {{ item.value.listen_port }} -e {{ item.value.websocket_listen_port }}
{% else %}
ExecStart={{ commons.application_path }}/potato.bin --config /potato/shared/potato.cfg --{{ item.value.service }} --service-name {{ item.value.system_name }} --swank-port {{ item.value.swank_port }}
{% endif %}
Restart=always
RestartSec=5
TimeoutStartSec=5min

[Install]
WantedBy=multi-user.target