<!DOCTYPE html>
<html lang="en">
<head>
  <% includeindex "manifest" %>
  <%
     var s3-access-key = s3-access-key
     var s3-endpoint = s3-endpoint
     var s3-bucket = s3-bucket
     var use-s3 = (default-upload-location == :s3)
     var dev = dev
  %>
  <title>Channel <% #channel-name %></title>
  <link href="/assets/css/<% #index "manifest.channel.css" %>" rel="stylesheet">
  <% include "mathjax.tmpl" %>
  <script>
    channelId = "<% #channel-id %>";
    userId = "<% #user-id %>";
    userDescription = "<% #user-description %>";
    domainId = "<% #domain-id %>";
    domainName = "<% #domain-name %>";
    isAdmin  = <% if admin-p #"true" else #"false" end %>;
    currentBuildId = "<% #current-build-id %>";
    channelUrl = "<% #channel-url %>";
    websocketUrl = "<% #websocket-url %>";
    s3Credentials =
      <% if ,use-s3 %>
        { accessKey: "<% r#s3-access-key %>",
          endpoint: "<% r#s3-endpoint %>",
          bucket: "<% r#s3-bucket %>" };
      <% else %>
        null;
      <% end %>
    <% if ,dev %>
      isDev = true;
    <% end %>
  </script>
</head>
<body>
  <div id="potato-root" tabindex="0">Loading, please wait.</div>
  <% if ,dev %>
    <script src="http://localhost:3450/js/potato.js" type="text/javascript"></script>
  <% else %>
    <script src="<% #"/assets/js/" #index "manifest.potato.js" $"potato.js" %>"></script>
  <% end %>
</body>
</html>
