<!DOCTYPE html><html lang="en">
<head>
  <% include "common_meta.tmpl" %>
  <% include "common_script.tmpl" %> <!-- imports framework -->
  <% call common_meta %>
  <title>Downloads</title>
  <link href="/assets/css/downloads.css" rel="stylesheet">
</head>
<body>
    <% include "potato_header.tmpl" %>
    <main id="potato-core">
      <p>nothing here yet</p>
    </main>
</body></html>
