<!DOCTYPE html>
<html lang="en">
  <% include "common_meta.tmpl" %>
  <head>
    <% call common_meta %>
    <% include "common_script.tmpl" %>
    <% includeindex "manifest" %>
    <link href="/assets/css/<% #index "manifest.login.css" %>" rel="stylesheet">
    <title>Recover password</title>
  </head>
  <body>
    <form method="post">
      <div>
        Email address: <input type="text" name="email">
      </div>
      <div>
        <input type="submit" value="Recover password">
      </div>
    </form>
  </body>
</html>
