<!DOCTYPE html>
<% include "common_meta.tmpl" %>
<% call ie9 %>
<head>
  <% includeindex "manifest" %>
  <title>Potato: teams group chat</title>
  <link href="/assets/css/<% #index "manifest.main.css" %>" rel="stylesheet">
  <% call common_meta %>
</head>
<body>
  <% include "potato_header.tmpl" %>
  <main id="potato-menu">
    <% if ! user-registered-p %>
    <section id="not-activated">
      You are not yet activated. If you did not yet receive your activation email, click
      <a href="/send_activation_email">here</a> to resend it to
      <% #user-email %>.
    </section>
    <% end %>

    <% if new-login %>
      <section>
        You have not yet configured your account. In particular, you should update your user name.
        <a href="/settings">Configure account.</a>
      </section>
    <% end %>

    <% if user-registered-p %>
      <section id="domains">
        <h2>Available channels</h2>
        <ul>
          <% for domain-tree %>
            <% var domain-name = domain-name %>
            <% if ! (domain-role == "PRIVATE") %>
              <% for groups %>
                <% if ! (group-type == :private) %>
                  <% for channels %>
                    <li> <a href="/channel/<% e#channel-id %>"><% #,domain-name %> – <% #channel-name %></a> </li>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </section>
    <% end %>

    <section>
      <h2>Tips for new users</h2>

      <h3>Markup</h3>
      <p>
        When typing messages, a limited form of Markdown is supported.
        You can use following markup:
        <ul>
          <li><code>*bold*</code> — Text surrounded by asterisks will be <b>bold</b>.</li>
          <li><code>_italics_</code> — Text surrounded by underscores will be <i>italics</i>.</li>
          <li><code>`code`</code> — Backquotes indicate source code formatting.</li>
          <li><code>```multiline code```</code> — Triple backquotes is used for source code blocks that consist of multiple lines.</li>
          <li><code>\( \frac{1}{x} \)</code> — Inline LaTeX maths expression</li>
          <li><code>$$ \sqrt{f(x^2) + x} $$</code> — LaTeX maths expression as a standalone formula.</li>
        </ul>
      </p>

      <h3>File uploads</h3>
      <p>
        You can also drag&amp;drop a file from the file manager to the
        channel in order to upload a file. If the file is an image, it
        will be displayed inline in the channel. Currently there is no
        upload button that gives you a file selector. This is indeed a
        bug, and will be fixed soon.
      </p>

      <h3>Notifying a user</h3>
      <p>
        You can directly refer to a user in a message by typing @
        followed by the user's name. If the user does not read the
        message within a set period of time (on this server, this
        value is hardcoded to 5 minutes) then an email is sent to that
        user to notify him or her that there are unread messages.
      </p>
      <p>
        You can send a private message to the user by clicking on
        their name on the right-hand side of the channel view. This
        opens a dedicated private channel for you and that other user.
        A private message to a user will always activate the
        notification behaviour as described above, regardless of
        whether the message explicitly contained a username.
      </p>
    </section>

    <% if allow-create-domain %>
    <section id="create-domain">
      <h2>Domains</h2>
      <p>
        Potato implements the concept of a "domain" (This is an
        unfortunate name, since the word is so severely overloaded.
        Perhaps "site" would be a better word) which represents a
        high-level separation between different groups of users.
      </p>
      <p>
        A user can be a member of multiple domains, but users that are
        not members of the same domain are effectively hidden from
        each other in every respect. Thus, if more that one
        organisation shares a Potato server (a hosted installation),
        each organisation will use their own domain.
      </p>
      <p>
        If you want to create a domain, you can do that
        here: <a href="/domain_create">Create a new domain</a>
      </p>
    </section>
    <% end %>

    <section id="settings">
      <h2>Settings</h2>
      <ul>
<!--
        <li><a href="/domains">New domains you can join</a></li>
-->
        <li><a href="/settings">User settings</a></li>
      </ul>
    </section>
  </main>
  <% include "potato_footer.tmpl" %>
</body>
</html>
