<% if logged-in-p %>
    <% include "main-loggedin.tmpl" %>
<% else %>
    <% if allow-passwordless-login %>
        <% include "landing.tmpl" %>
    <% else %>
        <% include "login.tmpl" %>
    <% end %>
<% end %>
