<!DOCTYPE html>

<% template vertical-spacing %>
<p>
  <div>.</div>
  <div>.</div>
  <div>.</div>
</p>
<% end %>

<html>
  <head>
    <title>New notifications</title>
    <style>
      .message-content > p {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h1>New notifications</h1>

    <p>
      You have received <% #num-messages %> notification<% if (num-messages > 1) #"s" end %> on Potato.
    </p>

    <div>

      <% for channels %>
        <h2>
          <a href="<% #channel-url %>"><% #channel-name %></a>
        </h2>

        <% for sections %>
          <% call vertical-spacing %>

          <% for messages %>
            <p>
              <div><b>From:</b> <% #sender-name %></div>
              <div class="message-content"><% r#text %></div>
            </p>
          <% end %>
        <% end %>

        <% call vertical-spacing %>

      <% end %>

    </div>

  </body>
</html>
