<!DOCTYPE html>
<html>
  <head>
    <title>Authorise user account access</title>
  </head>
  <body>
    <% if error %>
      <div>Some error occurred: <% #error %></div>
    <% end %>

    <% if verifier %>
      <div>
        Please enter the following verifier into your application:
        <code><% #verifier %></code>
      </div>
    <% end %>

    <% if ! (error or verifier) %>
      <div>
        Are you sure that you want to allow <code><% #application %></code> access to your account?
        <form action="/oauth/authenticate" method="POST">
          <button type="submit" name="action" value="allow">Allow</button>
          <button type="submit" name="action" value="deny">Deny</button>
          <input type="hidden" name="oauth_token" lquery="<% #oauth-token %>"/>
        </form>
      </div>
    <% end %>
  </body>
</html>
