<footer id="potato-foot">
  <p>All rights reserved © 2014-2015, The Potato development group.</p>
  <ul>
    <li><a href="http://blog.potato.network">Our blog</a></li>
    <li><a href="email:potato@potato.network">Contact us</a></li>
    <li>Twitter: <a href="http://twitter.com/potato_group">@potato_group</a>​</li>
  </ul>
</footer>
