<% #| -*- html -*- |# %>
<div id="private-message-frame" style="display: none;">
  <div>
    Message to: <span id="private-message-to"></span>
  </div>
  <div>
    <input id="private-message-text" type="text">
  </div>
  <div>
    <button id="private-message-send">Send</button>
  </div>
</div>
