<!DOCTYPE html>
<html lang="en">
<% include "common_meta.tmpl" %>
  <head>
    <% call common_meta %>
    <% includeindex "manifest/css.manifest" %>
    <link href="/assets/css/<% #index "manifest/css.manifest.main.css" %>" rel="stylesheet">
    <title>Update password</title>
  </head>
  <body>
    <% include "potato_header.tmpl" %>
    <main id="potato-basic">

    <form method="post">
      <div>
        <div>New password: <input type="password" name="password1" size="20"></div>
        <div>Again: <input type="password" name="password2" size="20"></div>
        <% if password-error %>
          <div style="color: red;"><% #password-error %></div>
        <% end %>
        <div><input type="submit" value="Update"></div>
      </div>
    </form>
    </main>
    <% include "potato_footer.tmpl" %>
  </body>
</html>
