<!DOCTYPE html>
<html lang="en">
  <% include "common_meta.tmpl" %>
  <head>
    <% call common_meta %>
    <title>Test page</title>
  </head>
  <body>
    <div>
      Your account has been activated. Welcome.
    </div>
    <div>
      <i>Development note: This file is <code>user_activated_notification.tmpl</code></i>
    </div>
  </body>
</html>
