<% #| -*- html -*- |# %>
<% #| This form is displayed when a wikipedia link is posted to the channel |# %>
<% #| Available variables: TITLE, EXTRACT |# %>
<picture>
  <blockquote>
    <div>
      <b><% #title %></b>
    </div>
    <div>
      <% #extract %>
    </div>
  </blockquote>
</picture>
