<% #| -*- html -*- |# %>
<% #| This form is displayed when an xkcd link is posted to the channel |# %>
<% #| Available variables: TITLE, IMG |# %>
<picture>
  <div><strong><% #title %><strong></div>
  <div><img src="<% #img %>"></div>
</picture>
