<?xml version='1.0' encoding='UTF-8'?>
<solr sharedLib="lib" persistent="true">
    <cores adminPath="/admin/cores" defaultCoreName="{{ solr_core }}">
        <core name="{{ solr_core }}" instanceDir="{{ solr_path }}/cores/{{ solr_core }}/"/>
    </cores>
</solr>
