[Unit]
Description=Solr

[Service]
Type=forking
User=solr
WorkingDirectory=/opt/{{ solr_filename }}/
PIDFile=/opt/{{ solr_filename }}/bin/solr-8983.pid
ExecStart=/bin/bash -c '/opt/{{ solr_filename }}/bin/solr start'
ExecStop=/bin/bash -c '/opt/{{ solr_filename }}/bin/solr stop -all'
Restart=always
RestartSec=5
TimeoutStartSec=5min

[Install]
WantedBy=multi-user.target