[Unit]
Description=CouchDB Server
After=network.target

[Service]
User=couchdb
Group=couchdb
Type=simple
StandardOutput=journal
StandardError=journal
Restart=always
StartLimitInterval=10
StartLimitBurst=5
PIDFile=/var/run/couchdb/couchdb.pid
ExecStart=/usr/local/bin/couchdb -p /var/run/couchdb/couchdb.pid

[Install]
WantedBy=multi-user.target