user              nginx;
worker_processes      1;

error_log  /var/log/nginx/{{ item.value.system_name }}-error.log;
pid        /run/{{ item.value.system_name }}.pid;

events {
  worker_connections  1024;
}

http {
  include       /etc/nginx/mime.types;
  default_type  application/octet-stream;

  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';

  access_log  /var/log/nginx/access.log  main;

  client_max_body_size 100m;

  sendfile           on;
  #tcp_nopush        on;
  #gzip              on;

  #keepalive_timeout  0;
  keepalive_timeout  65;

  include /etc/nginx/conf.d/*.conf;

  index   index.html index.htm;

  upstream clisp {
    server '127.0.0.1:{{ item.value.potato_port }}';
  }

  server {
    listen        {{ item.value.listening_port }} default deferred;
    server_name   {{ hostname }} localhost;
    root          {{ commons.application_path }}/public;
    try_files     $uri @app;
    proxy_intercept_errors  on;
    error_page 500 502 503 504 /50x.html;
    error_page 404 /404.html;

    location ~* ^\/(404|50x).html$ {
      root /etc/nginx/errors;
    }

    location ^~ /assets/ {
      root       {{ commons.application_path }}/public;
      gzip_static on;
      expires     max;
      add_header  Cache-Control public;
    }
{% if development %}

    location ^~ /js/ {
      rewrite    ^/js/(.*) http://localhost:10555/js/$1 permanent;
    }
{% endif %}

    location @app {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Connection '';
      proxy_http_version 1.1;
      chunked_transfer_encoding off;
      proxy_set_header Host $http_host;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
      proxy_redirect   off;
      proxy_pass       http://clisp;
      proxy_buffering  off;
    }
  }
}
