[Unit]
Description=The nginx HTTP and reverse proxy server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/{{ item.value.system_name }}.pid
ExecStartPre=/usr/sbin/nginx -t -c /etc/nginx/{{ item.value.system_name}}.conf
ExecStart=/usr/sbin/nginx -c /etc/nginx/{{ item.value.system_name}}.conf
ExecReload=/bin/kill -s HUP $MAINPID -c /etc/nginx/{{ item.value.system_name}}.conf
ExecStop=/bin/kill -s QUIT $MAINPID -c /etc/nginx/{{ item.value.system_name}}.conf
PrivateTmp=true

[Install]
WantedBy=multi-user.target