[Unit]
Description=CouchDB Server
After=network.target

[Service]
User=couchdb
Group=couchdb
Type=notify
StandardOutput=journal
StandardError=journal
Restart=always
StartLimitInterval=10
StartLimitBurst=5
PIDFile=/var/run/couchdb/couchdb.pid
ExecStart=/usr/local/bin/couchdb -couch_ini /usr/local/etc/couchdb/default.ini /usr/local/etc/couchdb/default.d/ /usr/local/etc/couchdb/local.d/ /usr/local/etc/couchdb/local.ini -s couch -pidfile /var/run/couchdb/couchdb.pid

[Install]
WantedBy=multi-user.target