// colour palette
$marsala:       #955251;
$sandstone:     #C78D6B;
$classicblue:   #1D4E89;
$aquamarine:    #9DC6D8;
$scubablue:     #00B2CA;
$lucitegreen:   #7DCFB6;
$toastedalmond: #D2B29A;
$glaciergray:   #C6CBCC;
$strawberryice: #E3868F;
$tangerine:     #F79256;
$custard:       #EAD98B;
$duskblue:      #7DA1BF;
$treetop:       #4E6E38;
$woodbine:      #7F8040;
$titanium:      #8A8587;
$lavenderherb:  #B38FB1;

$black:         #1E1010;
$white:         #FFFFFD;
$glaciergray-background: #f8f7f6;

// theme
main#potato-basic {
    a,
    a:visited {
        color:          $classicblue;
        &:hover,
        &:active {
            color:          $duskblue;
        }
    }

}

@keyframes unread-red-cycle {
    0%   { color: #ff0000 !important; }
    50%  { color: #ffffff !important; }
    100% { color: green !important; }
}

.private-unread {
    color: red;
    animation-name: unread-red-cycle;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

main#potato-core {
    aside {
        border-color:   $glaciergray;

        h1 {
            color:        $marsala;
            border-color: $glaciergray;

            a {
                color:      $marsala !important;
                &:hover {
                    background-color: $tangerine;
                }
            } // a
        } // h1

        h2 {
            color:        $woodbine;
        }

        ul {
            color:        $glaciergray;
            .online-highlight {
                color:      $treetop !important;
            }
        }
    } // aside


    article {

        .unconfirmed-message {
            color:            $titanium;
            background-color: $white;
        }

        a,
        a:link,
        a:visited {
            color: $classicblue;
        }

        a:hover:before,
        a:active:before,
        a:focus:before {
            color: $titanium;
        }

        a:hover,
        a:active,
        a:focus {
            color: $duskblue;
        }

        a:before {
            color: $glaciergray;
        }

        .chat-file-size {
            color: $titanium;
        }

        #chat-edit {
            p#chat-edit-help {
                color:          $titanium;
            }

            #chat-edit-area {
                border-color:   $glaciergray;
            }
        }

        menu#chat-popup-menu {
            background-color: $glaciergray-background;
            border-color:     $glaciergray;
            box-shadow: 0 2px 10px $glaciergray;

            div {
                border-color:   $glaciergray-background;
            }

            div.chat-popup-item-active {
                background-color: $marsala;
                color:            $custard;
                border-color:     $marsala;
            }
        }

    } // article
} // main#potato-core

input#search-input {
    border-color:     $glaciergray;
    color:            $titanium;

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder {
        color:          $glaciergray;
    }
}

.search-results {
    border-color:       $glaciergray !important;
    background-color:   $glaciergray-background;
    color:              $black;
    figure.search-result-message {
        background-color: $glaciergray-background;
        border-color:     $glaciergray !important;
    }
    .search-result-content em {
        color:          $marsala;
    }
}

