$ssp-fontpath:  '/assets/fonts/ssp';

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: local('SourceSansPro-ExtraLight'),
         local('Source Sans Pro'),
         url("#{$ssp-fontpath}/SourceSansPro-ExtraLight.eot") format('embedded-opentype'),
         url("#{$ssp-fontpath}/SourceSansPro-ExtraLight.otf.woff") format('woff'),
         url("#{$ssp-fontpath}/SourceSansPro-ExtraLight.otf") format('opentype'),
         url("#{$ssp-fontpath}/SourceSansPro-ExtraLight.ttf") format('truetype');
    unicode-range: $non-emoji-unicode-ranges;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: local('SourceSansPro-Regular'),
         local('Source Sans Pro'),
         url("#{$ssp-fontpath}/SourceSansPro-Regular.eot") format('embedded-opentype'),
         url("#{$ssp-fontpath}/SourceSansPro-Regular.otf.woff") format('woff'),
         url("#{$ssp-fontpath}/SourceSansPro-Regular.otf") format('opentype'),
         url("#{$ssp-fontpath}/SourceSansPro-Regular.ttf") format('truetype');
    unicode-range: $non-emoji-unicode-ranges;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: local('SourceSansPro-Semibold'),
         local('Source Sans Pro'),
         url("#{$ssp-fontpath}/SourceSansPro-Semibold.eot") format('embedded-opentype'),
         url("#{$ssp-fontpath}/SourceSansPro-Semibold.otf.woff") format('woff'),
         url("#{$ssp-fontpath}/SourceSansPro-Semibold.otf") format('opentype'),
         url("#{$ssp-fontpath}/SourceSansPro-Semibold.ttf") format('truetype');
    unicode-range: $non-emoji-unicode-ranges;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: local('SourceSansPro-Bold'),
         local('Source Sans Pro Bold'),
         url("#{$ssp-fontpath}/SourceSansPro-Bold.eot") format('embedded-opentype'),
         url("#{$ssp-fontpath}/SourceSansPro-Bold.otf.woff") format('woff'),
         url("#{$ssp-fontpath}/SourceSansPro-Bold.otf") format('opentype'),
         url("#{$ssp-fontpath}/SourceSansPro-Bold.ttf") format('truetype');
    unicode-range: $non-emoji-unicode-ranges;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: local('SourceSansPro-Black'),
         local('Source Sans Pro Black'),
         url($ssp-fontpath + '/SourceSansPro-Black.eot') format('embedded-opentype'),
         url($ssp-fontpath + '/SourceSansPro-Black.otf.woff') format('woff'),
         url($ssp-fontpath + '/SourceSansPro-Black.otf') format('opentype'),
         url($ssp-fontpath + '/SourceSansPro-Black.ttf') format('truetype');
    unicode-range: $non-emoji-unicode-ranges;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: local('SourceSansPro-It'),
         local('Source Sans Pro'),
         url("#{$ssp-fontpath}/SourceSansPro-It.eot") format('embedded-opentype'),
         url("#{$ssp-fontpath}/SourceSansPro-It.otf.woff") format('woff'),
         url("#{$ssp-fontpath}/SourceSansPro-It.otf") format('opentype'),
         url("#{$ssp-fontpath}/SourceSansPro-It.ttf") format('truetype');
    unicode-range: $non-emoji-unicode-ranges;
}
