$fonts-list: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Source Sans Pro", sans-serif, Emoji;
$code-fonts:  Monaco,Menlo,Consolas,"Courier New",monospace;
$font-size:   15px;
$line-height: 1.4*$font-size;
$emoji-unicode-ranges: unquote("U+2600-26FF, U+1F1E0-U+1F1FF, U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF");
$non-emoji-unicode-ranges: unquote("U+0-10FFF");

@import "font-awe";  // 'FontAwesome'
@import "font-ssp";  // 'Source Sans Pro'
@import "font-symb"; // 'Symbola'

body {
  font-family: $fonts-list;
  font-weight: 400;
  font-size: $font-size;
  text-rendering: optimizelegibility;
  text-shadow:none;
  -webkit-font-smoothing: antialiased;
}

footer#potato-foot {
  font-family: $fonts-list;
  font-size: 9px;
}

aside {
  h1 {
    font: bold 1.1*$font-size/1 $fonts-list;
  }
  h2 {
    font: $fonts-list;
    font-size: 0.6*$font-size;
    font-weight: 700;
  }
}

nav {
  h1 {
    font: bold 20px/1 $fonts-list;
  }
}

#upload-progress.active {
  #uploading-text {
    font-family: $fonts-list;
    font-weight: 900;
  }

  #uploading-percent {
    font-family: $fonts-list;
    font-weight: 700;
  }
}

main.drop-is-active + #help, main + #help.drop-is-active {
  font-family: $fonts-list;
  font-weight: 700;
}

.search-results {
  font-family: $fonts-list;
}

