@media screen and (max-width: 500px) {
  nav, aside {
    display: none !important;
  }
  footer#potato-foot {
    display: none !important;
  }
}

@media screen and (max-width: 700px) {
  aside {
    display: none !important;
  }
}
