//+TODO: @import (inline) "include/normalize.css";
@import "themes/colours-2016";
@import "include/fonts";
@import "include/potato";

html, body {
    line-height:    1.2*$line-height;
}

//+TODO: @import "include/header";
//+TODO: @import "include/footer";

main#register-key{
    width:           50%;
    min-width:       250px;
    margin:          0 auto;
    font-size:       $font-size;

    h1 {
        font-size:   1.4*$font-size;
    }

    h2 {
        font-size:   1.1*$font-size;
        font-weight: normal;
    }

    fieldset {
        margin:      0;
        border:      0;

        input {
            font-size: 1.2*$font-size;
            height:    2*$font-size;
            padding:   5px;
        }
    }
}

main#potato-menu {
    margin:         0 auto;
    padding-left:   10px;
    padding-right:  10px;
    flex:           1;
    padding:        0;
    border:         0;
    width:          70%;
    overflow-y:     auto;

    nav ul li {
        list-style:      none;
        text-align:      left;
        border-radius:   .25rem;
        cursor:          pointer;
        line-height:     48px;
        cursor:          pointer;
        margin-top:      15px;
        text-decoration: none;
    }

    a,
    a:visited {
        padding-left:    15px;
        text-decoration: none;
        color:           $classicblue;
        &:hover,
        &:active {
            text-decoration: underline;
            color:           darken($classicblue, 10%);
        }
    }

    nav > ul {
        list-style:   none;
        margin-left:  0;
        padding-left: 0;
    }
}

main#potato-basic {
    margin:        0 auto;
    padding-left:  10px;
    padding-right: 10px;
    flex:          1;
    padding:       0;
    border:        0;
    width:         90%;
    overflow-y:    auto;
}